.icon {
  max-width: 50px;
}

.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}



.shadows{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}


.gg-mail,
.gg-mail::after {
display: block;
box-sizing: border-box;
height: 14px;
border: 2px solid
}

.gg-mail {
overflow: hidden;
transform: scale(var(--ggs,1));
position: relative;
width: 18px;
border-radius: 2px
}

.gg-mail::after {
content: "";
position: absolute;
border-radius: 3px;
width: 14px;
transform: rotate(-45deg);
bottom: 3px;
left: 0
}


.gg-paypal {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 18px;
    transform:
    skew(-10deg)
    scale(var(--ggs,1));
    background:
    linear-gradient(
    to left,
    currentColor 20px,transparent 0)
    no-repeat 3px bottom/4px 2px,
    linear-gradient(
    to left,
    currentColor 20px,transparent 0)
    no-repeat 5px bottom/3px 10px
}

.gg-paypal::after,
.gg-paypal::before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 2px solid
}

.gg-paypal::before {
  width: 8px;
  height: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
  left: 5px;
  box-shadow: 2px 2px 0
}

.gg-paypal::after {
  width: 6px;
  height: 16px;
  border-right: 0
}

.carousel-control-prev, .carousel-control-next {
  background-color: black !important; 
  height: 50px ; 
  max-width: 50px; 
  margin-top: 30%;
}


.center{
  text-align: center;
  margin: 0 auto;
}


#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}



td {
  padding: 5px;
}

table {
  margin-bottom: 10px;
}


.overlay{
  background-color: rgba(0,0,0,.44)
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#jumboCarousel .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
#jumboCarousel  .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#jumboCarousel  .carousel-item {
  height: 30vh;
}

#jumboCarousel  .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  margin-top: -10%;
}


#jumboCarousel .carousel-control-prev, #jumboCarousel .carousel-control-next {
  background-color: black !important; 
  height: 50px ; 
  max-width: 50px; 
  margin-top: 20%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  #jumboCarousel  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  #jumboCarousel .featurette-heading {
    font-size: 50px;
  }

  #jumboCarousel .carousel-item {
    height: 40vh;
  }

  
}

@media (min-width: 62em) {
  #jumboCarousel .featurette-heading {
    margin-top: 7rem;
  }

  #jumboCarousel .carousel-item {
    height: 60vh;
  }
}
