/* ICON STYLES */
@font-face {
  font-family: 'simple-line-icons';
  src: url('./fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('./fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('./fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('./fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('./fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('./fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.icon-energy, .icon-check, .icon-graph, .icon-social-facebook, .icon-social-twitter {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-energy:before {
  content: "\e020";
}


.icon-check:before {
  content: "\e080";
}

.icon-graph:before {
  content: "\e06b";
}


.icon-social-twitter:before {
  content: "\e009";
}
.icon-social-facebook:before {
  content: "\e00b";
}


/* LANDING PAGE STYLES */

 body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header.masthead .overlay {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  header.masthead h1 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    header.masthead {
      padding-top: 5rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }

  .showcase .showcase-text {
    padding: 3rem;
  }

  .showcase .showcase-img {
    min-height: 15rem;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .features-icons .features-icons-item {
    max-width: 20rem;
  }

  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }

  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }

  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }

  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .testimonials .testimonial-item {
    max-width: 18rem;
  }

  .testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }

  .call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .affiliates {
    position: relative;
    padding-top: 7rem;
  }

  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }


  /* ------------------------------------------------------------------------------ */
/* GENERAL STYLES */

.navbar{
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, .97) !important;
    /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15); */
    transition: top 0.2s ease-in-out !important;
    width: 100% !important;
    top: 0;
}




/* ------------------------------------------------------------------------------ */
/* LANDING PAGE STYLES */



.element {
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}


.containerBox {
    max-width: 800px;
    margin: 50px auto !important;
}

.marginTop{
    margin-top: 100px !important;
}

.containerBox p, .containerBox h1, .containerBox h2, .containerBox h3, .containerBox h4, .containerBox h5 {
    padding: 10px
}


img {
    max-width: 100% !important;
}


/* MOBILE */
@media(max-width: 768px){
    header.masthead{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position:  center center !important;
      }

    .call-to-action{
        background-position:  center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .learnmore{
        background-position:  center right !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .start{
        padding-right: 5px
    }
}


/* DESKTOP */
@media(min-width: 768px){
    header.masthead{
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position:  center right !important;
      }

    .call-to-action{
        background-position:  left center !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .learnmore{
        background-position:  center right !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .right{
        text-align: right
    }
}

.showcase-img{
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* for async image load... */
.fit-image{
    width: 550px !important;
    max-width: 100% !important;
    display:block;
    margin:auto;
}



/* ------------------------------------------------------------------------------ */
/* BLOG STYLES */

table {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    }

th {
    border-bottom: 1px solid lightgrey;
}
td {
    padding-left: 5px;
    padding-right: 5px
}
.blogBox{
    height: 300px;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.blogTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.blogImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}



/* ------------------------------------------------------------------------------ */
/* REACT FORM STYLES */



.form-control {
    margin-bottom: 10px !important;
}

.electrade-form {
    margin: 0px auto;
    margin-top: 0px;
}

.electrade-form input.btn-primary{
    margin-left: 0px !important;
}


.electrade-form input, .electrade-form select {
    border-radius: 0px;
}

.start{
    justify-content: flex-start !important;
}

.br-none{
    border-right: 0px !important
}


.rounded {
    border-radius: 30px;
}


label{
    justify-content: flex-end !important;
    padding-left: 0px !important;
}


.my-node-enter {
    opacity: 0;
  }

.my-node-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}
