{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}


<div class="main-content mt-5 mb-5">
  <h3>
    Sunboxlabs Blog
  </h3>

  <p>Sunboxlabs started as a blog of DIY guides & user submitted kits. We only then started selling the kits ourselves.
    Here are some of the best ones.<br />
    If you have a DIY kit you'd like to get featured on the blog, please send it in to <a
      href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a>. <br />
    Also, if you own or are thinking about owning a Tesla or EV, be sure to check out <a
      href="https://www.electrade.app" taget="_blank">Electrade.app</a>.
  </p>


  <div class="main-content">
    <!-- Posts Index ================================================== -->
    <section class="recent-posts">
      <div class="row listrecent">
        {{ $post_paginator := .Paginate .Pages 10 }}
        {{ range $post_paginator.Pages }}
        {{- partial "list-partials/postbox.html" . -}}
        {{end}}
      </div>
    </section>
    {{- partial "list-partials/pagination.html" $post_paginator -}}
  </div>
</div>


{{end}}



{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}