{{ partial "_shared/head.html" .}}
{{ partial "_shared/navbar.html" .}}
{{ partial "_shared/product-schema.html" .}}

<link media="screen" href="/css/styles.css" rel="stylesheet" type="text/css">
<link media="screen" href="/css/additional.css" rel="stylesheet" type="text/css">

<div class="main-content mt-5 mb-5" style="margin: 0 auto; max-width: 1000px">
  <h3>
    Sunboxlabs Blog
  </h3>

  <p>Sunboxlabs started as a blog of DIY guides & user submitted kits. We only then started selling the kits ourselves.
    Here are some of the best ones.<br />
    If you have a DIY kit you'd like to get featured on the blog, please send it in to <a
      href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a>. <br />
    Also, if you own or are thinking about owning a Tesla or EV, be sure to check out <a
      href="https://www.electrade.app" taget="_blank">Electrade.app</a>.
  </p>


  <div class="main-content">
    <!-- Posts Index ================================================== -->
    <section class="recent-posts">
      <div class="row listrecent">
        {{ $post_paginator := .Paginate .Pages 20 }}
        {{ range $post_paginator.Pages }}
        {{- partial "list-partials/postbox.html" . -}}
        {{end}}
      </div>
    </section>
    {{- partial "list-partials/pagination.html" $post_paginator -}}
  </div>
</div>







{{ partial "_shared/footer.html" . -}}