{{ partial "_shared/head.html" .}}
{{ partial "_shared/product-schema.html" .}}

<div style=" position: absolute; top: 10px; left: 10px; z-index: 50; display: flex">
  <img style="height: 30px" src="/logo_full_light.png"/>
  <h1 style="font-size: 1.2rem; padding: 2px" class="text-light">sunboxlabs</h1>
</div>

 
  <div  style="background-image: url('/img_6/header.jpg'); background-size: cover; background-position: right;">
    <div class="container" style="min-height: 90vh; padding-top: 50px">
      <div style="text-align: center; max-width: 400px; margin: 0 auto">
        <h1 class="">Fight climate change from your apartment</h1>
        <p class="lead ">Meet the Plug-In Solar Kit: Reduce your home’s emissions by up to 1/3*</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
          <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg w-100">☀️ Pre-order your solar revolution now <s>$599</s> $499  〉&nbsp;<img src="https://sunboxlabs.com/kit/img/paypal.png" style="height: 12px;" /></button>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>

  <div class="p-4" style="background-color: rgba(0, 97, 207, 0.05)">
      <div class="container">
          <div class="row">
              <div class="col-md center">
                  <img src="/img_6/icon1.png" style="max-height: 50px;"/>
                  <p class="lead text-secondary mt-2">Auto-reduce your home’s emissions by 1/3</p>
              </div>
              <div class="col-md center">
                  <img src="/img_6/icon2.png" style="max-height: 50px"/> 
                  <p class="lead text-secondary mt-2">Saves Money & pays for itself</p>
              </div>
              <div class="col-md center">
                  <img src="/img_6/icon3.png" style="max-height: 50px"/>
                  <p class="lead text-secondary mt-2">Plug & Play easy install</p>
              </div>
              <div class="col-md center">
                  <img src="/img_6/icon4.png" style="max-height: 50px"/>
                  <p class="lead text-secondary mt-2">Monitor from anywhere with app</p>
              </div>
          </div>  
      </div>  
  </div>



<div class="container" style="margin: 0px; width: 100% !important; max-width: none" >
  <div class="row p-md-5">
    <div class="col-md-6 p-2 p-md-5">
      <h2 >The set-and-forget way to help the environment</h2>
      <ul class="lead "><li>Auto-reduce your home’s CO2 footprint by a third.</li><li>Do your part for the environment and take your fridge, air conditioning and TV off dirty coal energy during the day.</li></ul>
    </div>
    <div class="col-md-6 center p-5">
      <img src='/img_6/CO2.png' style="margin: 0 auto" />
    </div> 
  </div>
</div>



<div style="background-color: rgba(0, 97, 207, 0.05)" id="quiz">
  <div class="container pt-5">
      <div class="row">
          <div class="col-md-6 center p-5">
              <img src='/img_6/Money.png' />
          </div>
          <div class="col-md-6 p-2 p-md-5">
            <h2>Pays for itself by reducing your energy bill. Plus you get a tax credit!</h1>
            <p class="lead">This kit will generate $73 worth of energy per year (on a south-facing roof in California).</p>
            <!-- <div class="calcContainer">
              <input oninput="updateCalc()" 
              type="range" 
              min="8" value="8" max="85" step="11" 
              id="calcSlider" class="calcSlider" 
              style="width: 100%; min-height: 1px !important">  
            </div> -->
          </div>
      </div>
  </div>
</div>


<div class="container" style="margin: 0px; width: 100% !important; max-width: none" >
  <div class="row p-md-5">
      <div class="col-md-6 order-md-2 p-5">
        <img src="/img_6/Apartment.png"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >Finally, solar energy purpose-built for apartments, condos, and small areas.</h2>
          <ul class="lead "><li>No permits - it’s less intrusive than a  window ac unit..</li><li>Moving? Unplug and take it with you.</li><li>Purpose-built for balconies, backyards, etc</li></ul>
      </div>
  </div>
</div>


<div style="text-align: center; max-width: 500px; margin: 0 auto">
  <h1 class="">Fight climate change from your apartment</h1>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
    <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg w-100">☀️ Pre-order your solar revolution now <s>$599</s> $499  〉&nbsp;<img src="https://sunboxlabs.com/kit/img/paypal.png" style="height: 12px;" /></button>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>

<hr/>


  <div class="container">
    <div class="col-md-8 p-4">
      {{ .Content}}
      <hr/>
      * For the average US apartment with a 3kWh/day usage.
    </div>
  </div>


  

</div>









{{ partial "_shared/footer.html" . -}}

<style>
  img {
    max-width: 100% !important;
  }
</style>