{{ partial "_shared/head.html" .}}
{{ partial "_shared/navbar.html" .}}
{{ partial "_shared/product-schema.html" .}}

 
<div class="container pt-5" >
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2" >
      <img src='/img_7/header.jpg' style="max-height: 80vh;"/>
    </div>
    <div class="col-md-6 p-2 p-md-5" style="display: flex; align-items: center !important">
        <div>
          <h1>Fight climate change from your windowsill.</h1>
          <p class="lead">Meet the Plug-In Solar Kit: Place ultralight panel in sun, plug in, go. Now <s>$599</s> $499</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
            <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg w-100" style="background-color: #FA8E73; border: 0">Start your solar revolution 〉</button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
</div>


<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src='/img_7/Group 931.png' style="margin: 0 auto" />
    </div> 
    <div class="col-md-6 p-2 p-md-5">
      <h2 >Problem: Traditional solar doesn’t work for renters.</h2>
      <p class="lead ">
        ❌ Need permission from landlord<br/>
        ❌ Can’t access roof<br/>
        ❌ Can’t take with you if you move<br/>
        Because most of the world lives in urbanized areas where renting is common, we think this is a problem standing in the way of solar adoption.</p>
    </div>
  </div>
</div>



<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 center p-0 p-md-5 order-md-2">
          <img src='/img_7/product.jpg' />
        </div>
        <div class="col-md-6 p-2 p-md-5">
          <h2>Solution: Easy, self-install solar system for your balcony, backyard or rooftop.</h1>
          <p class="lead">
            ✅ Great for Apartments, condos, balconies, and backyards<br/>
            ✅ 5-min setup see ‘how to install’ below<br/>
            ✅ No permits needed - because it’s an efficient and cool low-voltage device<br/>
            ✅ Moving? Unplug and take it with you.<br/>
          </p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
              <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg w-100" style="background-color: #FA8E73; border: 0">☀️ Start your solar revolution 〉</button>
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>



<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/CO2.png" style="max-width: 300px !important"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >Do your part: save 390 pounds CO2/year*</h2>
          <p class="lead">That's the equivalent of not driving 500 miles a year.<br/>
            ⬇️ Helps power your fridge, A/C unit or TV with sunlight instead of the gas-powered grid.<br/>
            ⬇️ If all apartments in the US did this, it'd be enough to offset 1/8th of our emissions.</p>
            <small>* Depends on state (electricity mix).</small>
      </div>
  </div>
</div>


<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/Group 933.png"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >5-min installation</h2>
          <ol class="lead">
            <li>Zip-tie lightweight solar panel anywhere in sunlight, with microinverter in shade.
            <li>Plug in to an outlet</li>
            <li>Watch your generation in real-time with the integrated smart-plug and our partner app.</li></ol>
      </div>
  </div>
</div>


<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/Group 934.png"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >How it works</h2>
          <ol class="lead">
          <li>
            Brand-new Microinverter technology sends energy ‘backwards’ through an outlet into your home’s existing power lines. 
          </li><li>
            This energy is consumed immediately by your fridge, wifi router, laptop or lights - reducing the amount you pull from the power company.
          </li></ol>
      </div>
  </div>
</div>


<div style="background-color: #FAD273; min-height: 30vh; display: flex; align-items: center !important; padding-top: 50px; padding-bottom: 50px">
  <div class="container">
      <div class="row">
          <div class="col-md center">
              <img src="/img_6/icon3.png" style="max-height: 50px"/>
              <p class="lead text-secondary mt-2">5-min Setup</p>
          </div>
          <div class="col-md center">
            <img src="/img_6/icon4.png" style="max-height: 50px"/>
            <p class="lead text-secondary mt-2">Great for Condos</p>
          </div>
          <div class="col-md center">
              <img src="/img_6/icon1.png" style="max-height: 50px;"/>
              <p class="lead text-secondary mt-2">Reduces Emissions</p>
          </div>
          <div class="col-md center">
              <img src="/img_6/icon2.png" style="max-height: 50px"/> 
              <p class="lead text-secondary mt-2">Lowers Bills</p>
          </div>
      </div>
      <div style="max-width: 400px; margin: 0 auto; margin-top: 50px">

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
            <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg w-100" style="background-color: #FA8E73; border: 0">☀️ Get your personal power plant today 〉</button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

      </div>
  </div>  
</div>



<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/whatsincluded.jpg"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >What comes in the box</h2>
          <p class="lead">
            ✅ 2 x marine-grade 100W lightweight solar panels<br/>
            ✅ 600W microinverter (supports expanstion with another 3 panels)<br/>
            ✅ Power monitor - Wifi + App enabled monitor by default, but LED screen monitor an option if preferred.
          </p>
      </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/monitoringapp.png" style="max-width: 300px !important" />
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >Watch your impact grow</h2>
          <p class="lead">Monitor in real-time with the app (or bring your own monitoring system), available on Google Play and App Store. From anywhere.</p>
      </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/safety.jpg"/>
      </div>
      <div class="col-md-6 p-2 p-md-5">
          <h2 >Safety First</h2>
          <p class="lead">
            TLDR: If there’s no grid, it turns off so as not to shock anyone.
            Island protection, UL 1741, CA41, auto-off at night, fan. 200W of energy can effortlessly be put into your home’s grid - that’s less than some old TVs used - and will used up by your household’s running devices in the grid - no need to deal with the utility.
          </p>
      </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 p-2 p-md-5">
          <h2 >Tech Specs</h2>
      </div>
      <div class="col-md-6 center p-0 p-md-5 order-md-2">
        <img src="/img_7/techspecs.jpg"/>
      </div>
  </div>
</div>


<div class="container pt-5">
  <div class="row">
      <div class="col-md-6 p-2 p-md-5">
          <h2 >FAQ</h2>
      </div>
      <div class="col-md-6 p-2 p-md-5">
        {{ .Content}}
        <hr/>
       * For an average US apartment consumption of roughly 3kWh/day usage.
      </div>
  </div>
</div>


  

</div>









{{ partial "_shared/footer.html" . -}}

<style>
  img {
    max-width: 100% !important;
  }
</style>