{{ partial "_shared/head.html" .}}
{{ partial "_shared/navbar.html" .}}
{{ partial "_shared/product-schema.html" .}}



 
  <div  style="background-image: url('/img_6/solar-2344550_1920.jpg'); background-size: cover">
    <div class="container" style="min-height: 80vh; padding-top: 50px">
      <div class="col-12 col-md-6 p-5" >
        <img src="/img_6/kelly-sikkema-fZirmwarM0E-unsplash.jpg" style="max-width: 100px; max-height: 100px" class="rounded-circle" />
        <h1 class="text-light">Coming Soon: Fight climate change from your apartment</h1>
        <p class="lead text-light">
          sunboxlabs is launching a next-generation solar kit in April 2021. Plug-in solar panels for apartments and renters
           - a Plug & Play Solar Panel (200W) + Microinverter Bundle that is easy to install yourself.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="84W29X4WK62B8">
          <button type="submit" name="submit" alt="Pre-order now" class="btn btn-primary btn-lg">☀️ Pre-order now for <s>$499</s> $399</button>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <small class="text-light">Fully refundable $5 deposit due now, $394 due later. Free shipping in continental US</small>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="col-md-8 p-4">
      {{ .Content}}
    </div>
  </div>


  

</div>


<div style="position: fixed; bottom: 10px; right: 10px">
  <a href="mailto:hello@sunboxlabs.com">
    <div class="shadows btn btn-primary" style="height: 55px; width: 55px; border-radius: 30px; ">
      <i style="color: white; margin-top: 13px; margin-left: 5px;" class="gg-mail"></i>
    </div>
  </a>
</div>

<!-- Twitter universal website tag code -->
<!-- <script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o3znq');
// twq('track','PageView');
</script> -->
<!-- End Twitter universal website tag code -->



{{ partial "_shared/footer.html" . -}}

<style>
  img {
    max-width: 100% !important;
  }
</style>