{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<!-- Facebook Pixel Code -->
<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '682935348800905');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=682935348800905&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

<link media="screen" href="/css/styles.css" rel="stylesheet" type="text/css">
<link media="screen" href="/css/additional.css" rel="stylesheet" type="text/css">

<div class="row" id="top">
  <div class="col-12 col-md-8" id="slider">
    <h2>1000W Self-Install Solar + Battery Kit</h2>
    <div id="myCarousel" class="carousel slide" data-touch="true" data-ride="carousel">

      <div class="carousel-inner">
        <div class="active carousel-item" data-slide-number="0">
          <img src="/img_3/1000 copy 2.jpg" class="img-fluid">
        </div>
        <div class="carousel-item" data-slide-number="1">
          <img src="/img_3/1000-kit.jpg" class="img-fluid">
        </div>
        <div class="carousel-item" data-slide-number="2">
          <img src="/img_3/1000 copy.jpg" class="img-fluid">
        </div>
        <div class="carousel-item" data-slide-number="3">
          <img src="/img_3/specs2.jpg" class="img-fluid">
        </div>
        <!-- <div class="carousel-item" data-slide-number="4">
          <img src="/img_3/specs3.jpg" class="img-fluid">
        </div> -->



        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
      <!-- main slider carousel nav controls -->


      <ul class="carousel-indicators list-inline mx-auto border px-2">
        <li class="list-inline-item active">
          <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
            <img src="/img_3/1000 copy 2.jpg" class="img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
            <img src="/img_3/1000-kit.jpg" class="img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
            <img src="/img_3/1000 copy.jpg" class="img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
            <img src="/img_3/specs2.jpg" class="img-fluid">
          </a>
        </li>
        <!-- <li class="list-inline-item">
          <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
            <img src="/img_3/specs3.jpg" class="img-fluid">
          </a>
        </li> -->
      </ul>
    </div>
  </div>




  <div class="col-12 col-md-4 mt-md-5">
    <h5>Plug & Play Solar Battery Bundle</h5>
    <div style="margin-top: 20px;">


      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RPA2PHRU5E6YA">
        <select name="os0" style="display: none; margin-bottom: 30px !important" class="form-control">
          <option value="2 Solar Panels (7.5h sun to full)">2 Solar Panels (7.5h sun) $1,599 USD
          <option value="No Solar Panel (outlet only)">No Solar Panel (outlet only) $1,249 USD
          <option value="4 Solar Panels (3.75h sun to full)">4 Solar Panels (3.75h sun to full) $1,899
            USD
          </option>
          </option>
          </option>
        </select>

        <input type="hidden" name="currency_code" value="USD">
        <button id="buy5" class="btn btn-block btn-lg btn-primary shadows" type="submit" name="submit">
          ☀️ Buy Now for $1,599 〉&nbsp;<img src="https://sunboxlabs.com/kit/img/paypal.png" style="height: 12px;" />
        </button>
        <span style="color: grey; text-align: center">Free shipping.</span>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
    <br />
    <div class="card">
      <div class="card-header">
        Full money-back guarantee. Ships within 5 business days.
      </div>
      <small>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Free Shipping</li>
          <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
          <li class="list-group-item">1 x 1500Wh battery / controller / 1000W pure sine inverter - $1,299</li>
          <li class="list-group-item">2 x 100W Flex. Solar Panel, Zipties - $159</li>
          <li class="list-group-item">2 x 20 ft solar connector, 2-to-1 switch - $55</li>
        </ul>
      </small>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col-12 mt-5">
        <h4>How it works:</h4>
        <img data-src="/img_3/how_it_works_1.jpg" class="lazy">
      </div>
      <hr />
      <div class="col-12 mt-5">
        <h4>Where to use it? Great for: Off-Grid Apartments & Condos, Power Outage Backup, Backyard or Balcony
          installation, RVs,
          Camping,
          Boating, Van-Living, Tiny houses and more.</h4>
        <img data-src="/img_3/use_cases2.jpg" class="lazy">

      </div>
      <hr />
      <div class="col-12 mt-5">
        <h4>What will it run? Power anything up to 1000W:</h4>
        <img data-src="/img_3/what_will_it_run_3.jpg" class="lazy">
        <p>Questions about whether it can run your device? Reach out!</p>
      </div>
    </div>
    <br /><br />
    <hr />
    <div class="row">
      <div class="col-12">
        <h4>Features:</h4>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits1.png" class="icon" />
        <h4>Easy<br />Install.</h4>
        <p>Electrician-free. Permit-free. Screwdriver-free.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits2.png" class="icon" />
        <h4>Apartment<br />Compatible.</h4>
        <p>Moving? Take it with you. Roof damage? Never.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits3.png" class="icon" />
        <h4>Backup.</h4>
        <p>In Wildfires. Hurricanes. Blackouts. Reliable, fuel-free power.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits4.png" class="icon" />
        <h4>Outdoors.</h4>
        <p>Great portable system for camping & outdoors. Clean. No Noise. No trace.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits5.png" class="icon" />
        <h4>Live in the Future.</h4>
        <p>Make your own energy. Be independent.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits6.png" class="icon" />
        <h4>Running cost?</h4>
        <p>Nope. It <i>generates</i> electricity worth $25 a year.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits7.png" class="icon" />
        <h4>18650 Cells</h4>
        <p>Same lithium battery type used by Tesla. 540Wh of them.</p>
      </div>
      <div class="col-6 center">
        <img class="lazy" data-src="/kit/img/benefits8.png" class="icon" />
        <h4>Power</h4>
        <p>Run a mini-fridge. TV. Laptop. Lighting. Phone.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <a data-toggle="collapse" href="#story" role="button" aria-expanded="false" aria-controls="story">
      Expand Story ⌄
    </a>

    <div class="collapse" id="story">
      <div class="col-md-8 p-4">
        {{ .Content}}
      </div>
    </div>

  </div>
</div>
<br />
<hr /><br />


<h2>Reviews</h2>
<!-- <a data-toggle="collapse" href="#reviews" role="button" aria-expanded="false" aria-controls="story">
  Expand Reviews ⌄
</a> -->
<div class="container">
  <!-- <div class="collapse" id="reviews"> -->
  <!-- TESTIMONIALS -->
  <section class="testimonials bg-white">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-8">
          <div style="border-bottom: 1px solid lightgrey; padding-bottom: 10px; margin-bottom: 10px">
            <h5>⭐️⭐️⭐️⭐️⭐️</h5>
            <h5>Armin S. – Philadelphia, PA</h5>
            <p class="font-weight-light mb-0">I'm a healthy mix of prepper and sustainability person.
              This scratches both itches.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div style="border-bottom: 1px solid lightgrey; padding-bottom: 10px; margin-bottom: 10px">
            <h5>⭐️⭐️⭐️⭐️⭐️</h5>
            <h5>Sarah W. – Tenafly, NJ</h5>
            <p class="font-weight-light mb-0">We've mainly been using this in our RV when we're off-grid
              for a few days... amazingly powerful.</p>
          </div>
        </div>




      </div>
  </section>
  <!-- </div> -->

</div>



<!-- SYSTEM COMPONENTS & FEATURES -->
<hr />
<h2>System Components & Features</h2>
<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  Expand Tech Specs ⌄
</a>


<div class="collapse" id="collapseExample">


  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2">
      <img class="fit-image img-fluid lazy" data-src="/kit/img/specs1.jpg" alt="">
    </div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
      <h3>The Battery</h3>
      <small>
        Weight: 12.13 lb<br />
        Dimensions: 10.24 x 6.7 x 6.82 in<br />
        Capacity: Lithium battery 50AH/540WH<br />
        Continuous Power: 500W<br />
        Over-load Protection: 550W±50W<br />
        Peak Output Power: 1000W<br />
        Output Waveform: Pure sine wave<br />
        DC Adapter Input Charge: DC 24V/3.75A<br />
        AC Output Voltage: AC110V±10% 60Hz/AC220V± 10%<br />
        Fuse: 3*30A<br />
        Overheat Protection: ＞65°C<br />
        Cooling Fan: Temperature control fan<br />
        Short-circuit Protection: Yes<br />
        USB Output: TYPE-C + 2.4A + 2.4A + QC3.0<br />
        DC Output 1: Cigarette lighter 12V/8A<br />
        DC Output 2: 12V*2 output ports (4A+4A)<br />
        LED Lighting: 5W LED Light<br />
        18 month limited warranty<br />
        LED Instruction: Battery level, percentage, time, fan, DC, USB, AC output power, over
        temperature,
        as
        picture<br />
        Solar Input Charging Panel (Optional): Voltage 18V 100W-200W<br />
        Solar Panel Voltage: DC12V-24V<br />
      </small>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6">
      <img class="fit-image img-fluid lazy" data-src="/kit/img/screen.jpg" alt="">
    </div>
    <div class="col-lg-6 my-auto showcase-text p-5">
      <h3>The Real-Time Display</h3>
      <p class="lead mb-0">Real-time battery percentage meter, including charging state, inverter
        activity,
        and best
        of all: a real-time Watt meter to show how much power your devices are drawing.
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2">
      <img class="fit-image img-fluid lazy" data-src="/kit/img/specs2.jpg" alt="">
    </div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
      <h3>The Panel</h3>
      <small>
        Mono-crystalline Panel<br />
        Weight: 4.8 lb<br />
        Dimensions: 41.1 x 27.2 x 0.11 in<br />
        Flexing up to 30 degrees (repeated flexing can reduce lifespan of panel)<br />
        Stainless steel grommets<br />
        25 year limited power output warranty<br />
        Maximum Power(Pmax): 100W<br />
        Maximum Power Voltage(Vmp): 18.7V<br />
        Maximum Power Current(Imp): 5.35A<br />
        Open Circuit Voltage(Voc): 22.3V<br />
        Short Circuit Current(Isc): 5.70A<br />
        Maximum System Voltage(Vmax): 600VDC<br />
        Temperature Range: -40°C ~ 85°C<br />
        Maximum Series Fuse Rating(A): 15A<br />
      </small>
    </div>
  </div>
</div>

<!-- FAQ -->
<hr />
<h2>FAQ</h2>
<a href="/faq">See our FAQ section here</a>
<br /><br /><br /><br />
</div>
</div>


<div class="container">
  <br /><br />
  <div class="col-md-8 p-4">
    <img class="lazy" data-src="/img_3/1000 copy 2.jpg" />
    <br />
    <h5>1000W Plug & Play Solar Battery Bundle</h5>
    <div style="margin-top: 20px;">

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RPA2PHRU5E6YA">
        <select name="os0" style="display: none; margin-bottom: 30px !important" class="form-control">
          <option value="2 Solar Panels (7.5h sun to full)">2 Solar Panels (7.5h sun) $1,599 USD
          <option value="No Solar Panel (outlet only)">No Solar Panel (outlet only) $1,249 USD
          <option value="4 Solar Panels (3.75h sun to full)">4 Solar Panels (3.75h sun to full) $1,899
            USD
          </option>
          </option>
          </option>
        </select>

        <input type="hidden" name="currency_code" value="USD">
        <button id="buy5" class="btn btn-block btn-lg btn-primary shadows" type="submit" name="submit">
          ☀️ Buy Now for $1,599 〉&nbsp;<img src="https://sunboxlabs.com/kit/img/paypal.png" style="height: 12px;" />
        </button>
        <span style="color: grey; text-align: center">Free shipping.</span>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>


    </div>
    <br />
    <div class="card">
      <div class="card-header">
        Ships within 5 business days.
      </div>
      <small>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Free Shipping</li>
          <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
          <li class="list-group-item">1 x 1500Wh battery / controller / 1000W pure sine inverter - $1,299</li>
          <li class="list-group-item">2 x 100W Flex. Solar Panel, Zipties - $159</li>
          <li class="list-group-item">2 x 20 ft solar connector, 2-to-1 switch - $55</li>
        </ul>
      </small>
    </div>
    <br />
    <a href="#shipping">Shipping & Order Details</a> |
    <a href="#faq">FAQ</a> | <a href="#howto">How to install </a><br />
    Questions? Text +1 917 704 3031 or <a href="mailto:hello@sunboxlabs.com">Email</a>
    <br /><br />
    <a href="#top">☝️ Back to top</a>
  </div>


</div>


<div style="position: fixed; bottom: 10px; right: 10px">
  <a href="mailto:hello@sunboxlabs.com">
    <div class="shadows btn btn-primary" style="height: 55px; width: 55px; border-radius: 30px; ">
      <i style="color: white; margin-top: 13px; margin-left: 5px;" class="gg-mail"></i>
    </div>
  </a>
</div>

<!-- Twitter universal website tag code -->
<!-- <script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o3znq');
// twq('track','PageView');
</script> -->
<!-- End Twitter universal website tag code -->


<script type="text/javascript">
  var button1 = document.getElementById('buy1');
  button1.addEventListener(
    'click',
    function () {
      fbq('track', 'InitiateCheckout');
      // twq('track','Purchase', {value: '499.00',currency: 'USD',num_items: '1'});
      ga('send', 'event', 'Checkout', 'clicked', 'Solar Kit');
    },
    false
  );
  var button2 = document.getElementById('buy2');
  button2.addEventListener(
    'click',
    function () {
      fbq('track', 'InitiateCheckout');
      // twq('track','Purchase', {value: '499.00',currency: 'USD',num_items: '1'});
      ga('send', 'event', 'Checkout', 'clicked', 'Solar Kit');
    },
    false
  );
</script>

<!-- to load images async -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

    if ("IntersectionObserver" in window) {
      let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.classList.remove("lazy");
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function (lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    } else {
      // Possibly fall back to a more compatible method here
    }
  });
</script>

{{end}}



{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}

<style>
  img {
    max-width: 100% !important;
  }
</style>
{{end}}