
{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<!-- start Facebook Pixel code -->
<script>
 !function(f,b,e,v,n,t,s)
 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
 n.queue=[];t=b.createElement(e);t.async=!0;
 t.src=v;s=b.getElementsByTagName(e)[0];
 s.parentNode.insertBefore(t,s)}(window, document,'script',
 'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '682935348800905');
 fbq('track', 'PageView');
 </script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=682935348800905&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>var stripe = Stripe('pk_live_8yXo9Oom2JQnurwuoUgL4nw9')</script>

  <div class="row" id="top">
    <div class="col-12 col-md-8" id="slider">
        <h2>The Self-Install Solar + Battery Kit</h2>
        <div id="myCarousel" class="carousel slide">
            <!-- main slider carousel items -->
            <div class="carousel-inner">
                <div class="active carousel-item" data-slide-number="0">
                    <img src="img/header.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="1">
                    <img src="img/screen.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="2">
                    <img src="img/components.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="3">
                    <img src="img/specs1.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="4">
                    <img src="img/header2.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="5">
                    <img src="img/header3.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="6">
                    <img src="img/what_will_it_run.jpg" class="img-fluid">
                </div>
                <div class="carousel-item" data-slide-number="7">
                    <img src="img/where_to_put_panel.jpg" class="img-fluid">
                </div>


                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
            <!-- main slider carousel nav controls -->


            <ul class="carousel-indicators list-inline mx-auto border px-2">
                <li class="list-inline-item active">
                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                        <img src="img/header.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                        <img src="img/screen.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                        <img src="img/components.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                        <img src="img/specs1.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                        <img src="img/header2.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
                        <img src="img/header3.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
                        <img src="img/what_will_it_run.jpg" class="img-fluid">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a id="carousel-selector-7" data-slide-to="7" data-target="#myCarousel">
                        <img src="img/where_to_put_panel.jpg" class="img-fluid">
                    </a>
                </li>


            </ul>
        </div>
    </div>




    <div class="col-12 col-md-4 mt-md-5">
        <s>$699.00</s>
        <h5>
          $499.00 Self-Install Solar Kit
        </h5>
        <div id="paypal-button-container"></div>
        <script src="https://www.paypal.com/sdk/js?client-id=Aek20dmP7ykbg6t11hEoDEzDDKo2zmjiD2RIfFVKQ13ByER61zlt7albq8NnOEmHzWT0LhyYqWGhUQdT&currency=USD" data-sdk-integration-source="button-factory"></script>
        <script>
          paypal.Buttons({
              style: {
                  shape: 'rect',
                  color: 'blue',
                  layout: 'vertical',
                  label: 'paypal',
              },
              createOrder: function(data, actions) {
                  return actions.order.create({
                      purchase_units: [{
                          amount: {
                              value: '499'
                          }
                      }]
                  });
              },
              onApprove: function(data, actions) {
                  return actions.order.capture().then(function(details) {
                      alert('Transaction completed by ' + details.payer.name.given_name + '!');
                  });
              }
          }).render('#paypal-button-container');
        </script>
        <!-- <div
        id="buy"
        class="btn btn-success shadows"
        style="
          font-size: 18px;
          padding: 10px;
          text-align: center;
          width: 100%;
          font-weight: 600">
          Buy Now 〉
        </div>
        <small>
          🔒 Secure Checkout powered by Stripe
        </small> -->
        <div class="card">
          <div class="card-header">
            Ships by July 10. Full money-back guarantee.
          </div>
          <small>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Free Shipping</li>
            <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
            <li class="list-group-item">1 x 540Wh battery / controller / 500W pure sine inverter - $499</li>
            <li class="list-group-item">1 x 100W Flex. Solar Panel, Zipties - $159</li>
            <li class="list-group-item">2 x 20 ft solar connector - $25</li>
          </ul>
          </small>
        </div>
    </div>



    <div class="col-md-8 p-4">
      <div class="row">
          <h4>Great for: Off-Grid Apartments & Condos, Power Outage Backup, Backyard or Balcony installation, RVs, Camping, Boating, Van-Living, Tiny houses and more.</h4>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits1.png" class="icon" />
            <h4>Easy<br/>Install.</h4>
            <p>Electrician-free. Permit-free. Screwdriver-free.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits2.png" class="icon" />
            <h4>Apartment<br/>Compatible.</h4>
            <p>Moving? Take it with you. Roof damage? Never.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits3.png" class="icon" />
            <h4>Backup.</h4>
            <p>In Wildfires. Hurricanes.  Blackouts. Reliable, fuel-free power.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits4.png" class="icon" />
            <h4>Outdoors.</h4>
            <p>Great portable system  for camping & outdoors.  Clean. No Noise. No trace.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits5.png" class="icon" />
            <h4>Live in the Future.</h4>
            <p>Make your own energy. Be independent.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits6.png" class="icon" />
            <h4>Running cost?</h4>
            <p>Nope. It <i>generates</i>  electricity worth $25 a year.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits7.png" class="icon" />
            <h4>18650 Cells</h4>
            <p>Same lithium battery type used by Tesla. 540Wh of them.</p>
          </div>
          <div class="col-6 center">
            <img class="lazy" data-src="img/benefits8.png" class="icon" />
            <h4>Power</h4>
            <p>Run a mini-fridge. TV. Laptop. Lighting. Phone.</p>
          </div>
        </div>
      </div>
      <hr/>

      <div class="col-md-8 p-4">
        {{ .Content}}
      </div>


      <br/><br/>
      <div class="col-md-8 p-4">
        <img class="lazy" data-src="img/header.jpg" />
        <br/>
        <s>$699.00</s>
        <h5>
          $499.00 Self-Install Solar Kit
        </h5>
        <div
        id="buy2"
        class="btn btn-success shadows"
        style="
          font-size: 18px;
          padding: 10px;
          text-align: center;
          width: 100%;">
          Buy Now 〉
        </div>
        <small>
          🔒 Secure Checkout powered by Stripe
        </small>
        <br/><br/>
        <div class="card">
          <div class="card-header">
            Ships by July 10. Full money-back guarantee.
          </div>
          <small>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Free Shipping</li>
            <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
            <li class="list-group-item">1 x 540Wh battery / controller / 500W pure sine inverter - $499</li>
            <li class="list-group-item">1 x 100W Flex. Solar Panel, Zipties - $159</li>
            <li class="list-group-item">2 x 20 ft solar connector - $25</li>
          </ul>
          </small>
        </div>
        <br/>
        <a href="#shipping">Shipping & Order Details</a> |
        <a href="#faq">FAQ</a> | <a href="#howto">How to install </a><br/>
        Questions? Text +1 917 704 3031 or <a href="mailto:hello@sunboxlabs.com">Email</a>
        <br/><br/>
        <a href="#top">☝️ Back to top</a>
      </div>

    {{- partial "_shared/alertbar.html" . -}}

  </div>


<div style="position: fixed; bottom: 10px; right: 10px">
  <a href="sms:+19177043031">
    <div class="shadows" style="height: 55px; width: 55px; border: 1px solid #28a745; border-radius: 30px; background-color: #28a745;">
      <i style="color: white; margin: 17px" class="gg-comment"></i>
    </div>
  </a>
</div>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o3znq');
// twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<script type="text/javascript">
  var button = document.getElementById('buy');
  button.addEventListener(
    'click',
    function() {
      fbq('track', 'InitiateCheckout');
      twq('track','Purchase', {value: '499.00',currency: 'USD',num_items: '1'});
      ga('send', 'event', 'Checkout', 'clicked', 'Solar Kit');
      stripe.redirectToCheckout({
        lineItems: [
          // Replace with the ID of your price
          {price: 'price_1GzP4WLVZVqouPZLVPwtoWr5', quantity: 1}
        ],
        mode: 'payment',
        successUrl: 'https://sunboxlabs.com/thanks',
        cancelUrl: 'https://sunboxlabs.com/solar-kit',
        shippingAddressCollection: {
          allowedCountries: ['US'],
        }
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    },
    false
  );
  var button2 = document.getElementById('buy2');
  button2.addEventListener(
    'click',
    function() {
      fbq('track', 'InitiateCheckout');
      twq('track','Purchase', {value: '499.00',currency: 'USD',num_items: '1'});
      ga('send', 'event', 'Checkout', 'clicked', 'Solar Kit');
      stripe.redirectToCheckout({
        lineItems: [
          // Replace with the ID of your price
          {price: 'price_1GzP4WLVZVqouPZLVPwtoWr5', quantity: 1}
        ],
        mode: 'payment',
        successUrl: 'https://sunboxlabs.com/thanks',
        cancelUrl: 'https://sunboxlabs.com/solar-kit',
        shippingAddressCollection: {
          allowedCountries: ['US'],
        }
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    },
    false
  );
  var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
  });
</script>

{{end}}



{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}
