
{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}


<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '682935348800905');
fbq('track', 'PageView');
</script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=682935348800905&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->

<div style="overflow: hidden; border-radius: 5px;" id="top">
  <div style="padding: 10px">
    <h3>The Landlord-Friendly, Self-Install Solar + Battery Kit</h3>
    <h5>for Off-Grid Apartments, Condos, Balconies, Backup or Camping</h5>
  </div>
  <img src="img/header.jpg" />
  <div class="row" style="border: 1px solid lightgrey;">
    <div class="col-md-4 order-md-2 p-4">
        <br/>
        <s>$699.00</s>
        <h5>
          $499.00 Self-Install Solar Kit
        </h5>
        <a
        target="_blank" href="https://checkout.square.site/buy/LLOXZNFJHRFT3MDW6K24OWUF"
        id="buy"
        class="btn btn-success shadows"
        style="
          font-size: 18px;
          padding: 10px;
          text-align: center;
          width: 100%;">
          Pre-Order Now
        </a>
        (2 left at pre-order price)
        <br/><br/>
        <div class="card">
          <div class="card-header">
            Pre-order ends June 26. Ships by July 10. Full money-back guarantee.
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
            <li class="list-group-item">1 x 100W Flex. Solar Panel - $159</li>
            <li class="list-group-item">1 x 500Wh battery incl Solar Controller, 500W inverter - $499</li>
            <li class="list-group-item">2 x 20 ft solar connector - $25</li>
            <li class="list-group-item">Free Shipping</li>
          </ul>
        </div>
        <br/>
        <a href="#shipping">Shipping & Order Details</a><br/>
        <a href="#faq">FAQ</a><br/>
        Questions? Text +1 917 704 3031 or <a href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a>
    </div>

    <div class="col-md-8 p-4 mt-4">
      {{ .Content}}
      <br/><br/>
      <img src="img/header.jpg" />
      <br/>
      <s>$699.00</s>
      <h5>
        $499.00 Self-Install Solar Kit
      </h5>
      <a
      id="buy2"
      target="_blank" href="https://checkout.square.site/buy/LLOXZNFJHRFT3MDW6K24OWUF"
      class="btn btn-success shadows"
      style="
        font-size: 18px;
        padding: 10px;
        text-align: center;
        width: 100%;">
        Pre-Order Now
      </a>
      (2 left at pre-order price)
      <br/><br/>
      <div class="card">
        <div class="card-header">
          Pre-order ends June 26. Ships by July 10. Full money-back guarantee.
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1-on-1 installation via Zoom - Included</li>
          <li class="list-group-item">1 x 100W Flex. Solar Panel - $159</li>
          <li class="list-group-item">1 x 500Wh battery incl Solar Controller, 500W inverter - $499</li>
          <li class="list-group-item">2 x 20 ft solar connector - $25</li>
          <li class="list-group-item">Free Shipping</li>
        </ul>
      </div>
      <br/>
      <a href="#shipping">Shipping & Order Details</a><br/>
      <a href="#faq">FAQ</a><br/>
      Questions? Text +1 917 704 3031 or <a href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a>
      <br/><br/>
      <a href="#top">Back to top</a>
    </div>

    {{- partial "_shared/social.html" . -}}
    {{- partial "_shared/alertbar.html" . -}}

  </div>
</div>
<script type="text/javascript">
  var button = document.getElementById('buy');
  button.addEventListener(
    'click',
    function() {
      fbq('track', 'InitiateCheckout');
    },
    false
  );
  var button2 = document.getElementById('buy2');
  button2.addEventListener(
    'click',
    function() {
      fbq('track', 'InitiateCheckout');
    },
    false
  );
</script>

{{end}}



{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}
