
{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <header class="text-center">
        {{ with .Site.Params.index.picture }}
            <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
        {{ end }}
        <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
    </header>
            

    <div class="main-content">
        <section class="recent-posts">            
            <div class="section-title">                
                <h3>About</h3>
                <p> This site provides information on how to build your own DIY solar energy + storage kit. If you have a kit you'd like to get featured on the site, please send it in to <a href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a></p>
                <p> The site originally started on a Hackernoon post (see below). The site's goal is to make installing solar as easy and commonplace as installing a satellite dish or a window AC unit.</p>
                <div style="margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;">
                    <img src="/img/DISHES.jpg" style="max-width: 400px; padding: 10px"> <img src="/img/AC.jpg" style="max-width: 400px; padding: 10px">
                </div>
                <hr>
                <p> I'm Niko, and I usually write <a href="https://nikodunk.github.io" target="_blank">here</a>. Email, Github, Linkedin and other projects are on that personal site. I work on a project called <a href="https://www.electrade.app" taget="_blank">Electrade.app</a> which helps Tesla and EV owners find affordable insurance.</p>
                <hr>
            </div>            
        </section>
    </div>
            
</div>
        
            

    {{- partial "_shared/social.html" . -}}
    {{- partial "_shared/alertbar.html" . -}}

{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}



