<!-- Call to Action -->
<section class="mt-5 mb-5" style="">
      <div class="col-12 col-md-6 offset-md-3">
          <h2 class="mb-4">Not ready to buy? Sign up for our list!</h2>
          <form class="form-group form-inline" id="electrade-form" >
            <input type="email" required name="email" placeholder="you@email.com" class="form-control col-5" style="border-radius: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px;" />
            <input class="btn btn-block btn-primary form-control col-5" style="border-radius: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px;" type="submit" value="Get Updates" id="submit-form" />
          </form>
      </div>
</section>
