{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>
                <h3>
                    How to build a DIY solar power plant
                </h3>
                <p>
                    sunboxlabs is a solar price tracker & platform for sharing DIY solar projects <br/>
                    If you have a kit you'd like to get featured on the site, please send it in to <a href="mailto:hello@sunboxlabs.com">hello@sunboxlabs.com</a>. <br/>
                    Also, if you own or are thinking about owning a Tesla or EV, be sure to check out <a href="https://www.electrade.app" taget="_blank">Electrade.app</a>.
                </p>
                
                <div class="main-content">
                    <h3>
                        Guides
                    </h3>
                    <!-- Posts Index
                    ================================================== -->
                    <section class="recent-posts">            
                        <div class="row listrecent">
                            {{ $post_paginator := .Paginate (.Pages.Reverse) 12 }}
                            {{ range $post_paginator.Pages }}
                                {{- partial "list-partials/postbox.html" . -}}
                            {{end}}
                        </div>
                    </section>
                    {{- partial "list-partials/pagination.html" $post_paginator -}}
                </div>

                <div>
                    <h2>As seen on</h2>
                    <div style="margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;">
                        <div style="padding: 10px">
                            <a style="color: inherit" href="https://news.ycombinator.com/item?id=14821478" target="_blank"><img src="/img/press1.jpg" style="max-height: 39px"></a>
                        </div>
                        <div style="padding: 10px">
                            <a style="color: inherit" href="https://hackernoon.com/200-for-a-green-diy-self-sufficient-bedroom-that-your-landlord-wont-hate-b3b4cdcfb4f4" target="_blank"><img src="/img/press3.png" style="max-height: 39px"></a>
                        </div>
                        <div style="padding: 10px">
                            <a style="color: inherit" href="https://www.reddit.com/r/geek/comments/6ov9oc/200_solar_selfsufficiency_without_your_landlord/" target="_blank"><img src="/img/press2.png" style="max-height: 39px"></a>
                        </div>
                        <div style="padding: 10px">
                            <a style="color: inherit" href="/img/bilanz.jpg" target="_blank"><img src="/img/press4.png" style="max-height: 39px"></a>
                        </div>
                    </div>
                </div>
                
    
    {{- partial "_shared/social.html" . -}}
    {{- partial "_shared/alertbar.html" . -}}

{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
