{{ partial "_shared/head.html" .}}
{{ partial "_shared/navbar.html" .}}
{{ partial "_shared/product-schema.html" .}}

{{ .Content }}
{{ partial "learnmore.html"}}

<hr />
<div class="container">
    <h2 id="fromourblog">From Our Blog</h2>
    <section class="recent-posts">
        <div class="row listrecent">

            {{ range .Paginator.Pages }}
            {{- partial "list-partials/postbox.html" . -}}
            {{ end }}


        </div>
    </section>
</div>


{{ partial "_shared/footer.html" }}