---
layout: base
---

<section class="section">
  <div
    style="
      max-width: 1000px;
      margin: auto;
      padding-top: 100px;
      text-align: center;
    "
  >
    <h1>Self-Install Solar</h1>
    <p style="font-size: 1.2rem">
      Create power from the sun for backup, savings, or energy independence.
    </p>
  </div>
</section>

<div class="row gap-3 gap-md-0 m-0">
  <img
    class="col-sm p-0 p-md-4"
    src="/assets/3000w-apartment-solar/outside_b.jpg"
  />
  <img
    class="col-sm p-0 p-md-4"
    src="/assets/3000w-apartment-solar/inside_b.jpg"
  />
</div>

<p style="text-align: center">
  Left: 1.2kW of solar panels removably placed on the apartment's roof | Right:
  "The Sunbox" - a 2.5kWh battery & 3kW controller/inverter powering the
  apartment from the living room
</p>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/inside_2.jpg" />
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>How it works</h2>
      <p class="lead">
        ✅ Backup for power outages. Battery acts like a "solar-assisted UPS"
        (uninterruptable power supply). We don't even notice power outages or
        public safety shut-offs anymore (same would go snowstorm outages or
        hurricane outages elsewhere).<br />
        ✅ Saves you money the rest of the year until sun is down & battery is
        empty, then falls back to the grid. It generally pays for itself in 4
        years with those savings.
      </p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img
        src="/assets/3000w-apartment-solar/inside_6.jpg"
        style="max-width: 350px !important; padding: 10px"
      />
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>Stored sunlight runs the place</h2>
      <p class="lead">
        Stored sunlight runs my kitchen, dining & living room - fridge,
        <a
          href="https://www.ikea.com/us/en/p/tillreda-portable-induction-cooktop-1-zone-white-10493520"
          >induction stove</a
        >
        (ikea, placed on gas stove), kettle, entertainment system, and
        everything else. It could also run microwaves and space heaters. It
        doesn't run my lights - it's a PITA to get an alternate power system to
        everywhere I want lights. But LEDs nowadays are in the 2-5 watt range,
        so consumption of those is minimal. The system powers all of my
        high-power devices above, which makes a way bigger dent with fewer
        cables.
      </p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <img
          src="/assets/3000w-apartment-solar/phone-1.png"
          style="max-width: 275px !important; padding: 10px"
        />
        <img
          src="/assets/3000w-apartment-solar/phone-2.png"
          style="max-width: 275px !important; padding: 10px"
        />
      </div>
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>Tracking</h2>
      <p class="lead">
        You can track the usage and inputs with an app - I got a (bad and
        expensive) tracker dongle but I'd strongly recommend
        <a href="https://solar-assistant.io/">Solar Assistant</a>
      </p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/outside_old_1.jpg" />
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>Benefits</h2>
      <p class="lead">
        ✅ "It's To-Go" - take it with you if you move. Throw it in the back of
        a truck. No permanent attachments or mounts to worry about. <br />
        ✅ Landlord-friendly - Non destructively place it on your roof without
        making holes. No roof damange, holes, or permits. <br />
        ✅ Hybrid - Runs off solar, then off the battery, then flips to the grid
        if both other sources are exhausted. It's "like a plug-in hybrid car"
        that only uses gas if you drive further than your electric range. But
        the batteries on this thing are huge and self-recharge every day. It's
        usually an off-grid system, but it won't make you re-plug your fridge if
        you ever drain the batteries.
      </p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/inside_3.jpg" /><br />
      Cables through window-gap to solar panel, plug into wall for pass-through
      UPS mode.
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>Secret Sauce</h2>
      <p class="lead">
        The secret sauce is that the sunbox is usually off grid, but if it runs
        out of power it only ever _draws_ energy from the wall and doesn't push
        any back. The sunbox (and it's satellite on the roof - the solar panels)
        are acting as a "solar buffer" between your devices and the wall. It's
        not wired into the meter, doesn't require a permit, etc.
      </p>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/inside_4.jpg" /><br />
      Main 2,500W power distribution strip. Relatively neat wiring from the box
      to the fridge, induction cooktop and on to the living room.
    </div>
    <div class="col-md-6 p-2 p-md-5">
      <h2>Other Secret Sauce</h2>
      <p class="lead">
        The other secret sauce, and potential downside, is that you need to run
        your own "alternate electricity system" through the house (ie. long
        white extension cables) to each room, as you're side-stepping the
        house's built-in wiring in the walls and using your own that you can
        redirect to the sunbox.
      </p>
    </div>
  </div>
</div>

<section class="section">
  <div
    class="container"
    style="max-width: 1000px; margin: auto; padding-bottom: 100px"
  >
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>
