---
layout: base
---

<section class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h1>
        $832 energy independence without red tape.
      </h1>
      <p style="font-size: 1.2rem">
        Backup (and savings) with self-install solar & batteries. Works with condos, rooftops, balconies or yards.
      </p>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <iframe
        style="width: 100%; height: 100%; min-height: 300px"
        src="https://www.youtube.com/embed/K1jQZuvDczU?si=W0OV1nOodyh2me_dmodestbranding=1&autohide=1&showinfo=0&controls=0"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<!-- <div class="row gap-2 m-0 p-0">
  <div class="col-md m-0 p-0">
    <img src="/assets/3000w-apartment-solar/outside.jpg" />
  </div>
  <div class="col-md m-0 p-0">
    <img src="/assets/3000w-apartment-solar/inside_1.jpg" />
  </div>
</div> -->

<!-- <p style="text-align: center">
  1.2kW solar panels removably placed on the apartment's roof & "sunbox"
  downstairs: 3kW controller/inverter/UPS & 2.5kWh battery powering the
  apartment
</p> -->

<section class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>How it works</h2>
      <ul>
        <li class="benefit">
          Backup for power outages. It's like a UPS (uninterruptable power
          supply) that primarily charges from sunshine. We don't even notice
          power outages or public safety shut-offs anymore (same would go
          snowstorm outages or hurricane outages elsewhere).
        </li>
        <li class="benefit">
          Saves you money the rest of the year until the sun is down & battery
          is empty, then falls back to the grid. It generally pays for itself in
          4 years with those savings.
        </li>
      </ul>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/inside_10.jpg" />
    </div>
  </div>
</section>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>Benefits</h2>
      <ul>
        <li class="benefit">
          Built To Go - take it with you if you move. Throw it in the back of a
          truck. Nothing is permanently attached or wired in. The Sunpower T5s
          are built to withstand up to 120 mph winds while lying on the roof.
        </li>
        <li class="benefit">
          Landlord-friendly - Non destructively place panels on your roof
          without making holes. I did ask my landlord for permission as a common
          courtesy.
        </li>
        <li class="benefit">
          Plug-in Hybrid - In normal operation the system runs off solar &
          battery, but can seamlessly flip to utility pass-through mode if both
          other sources are exhausted. Like a plug-in hybrid car can avoid range
          anxiety with a backup gas engine for long trips, the system removes
          the worry of running out of power if you go over your self-generation
          that day.
        </li>
        <li class="benefit">
          Utility-friendly - This system is off-grid as far as the utility is
          concerned. It <i>never</i> feeds back into the grid, only ever drawing
          if necessary.
        </li>
      </ul>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/outside_old_1.jpg" />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>Tracking</h2>
      <p>
        You can track the usage and inputs with an app - I got a (bad and
        expensive) tracker dongle but I'd strongly recommend
        <a href="https://solar-assistant.io/">Solar Assistant</a>
      </p>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/phone-2.png" />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>Stored sunlight runs the place</h2>
      <p>
        Stored sunlight runs my kitchen, dining & living room - fridge,
        <a
          href="https://www.ikea.com/us/en/p/tillreda-portable-induction-cooktop-1-zone-white-10493520"
          >induction stove</a
        >
        (Ikea, placed on gas stove), kettle, entertainment system, and
        everything else. It could also run microwaves and space heaters. It
        doesn't run my lights - it's a PITA to get an alternate power system to
        everywhere I want lights. But LEDs nowadays are in the 2-5 watt range,
        so consumption of those is minimal. The system powers all of my
        high-power devices above, which makes a way bigger dent with fewer
        cables.
      </p>
    </div>
    <div class="col-md-6 center p-0 order-md-2">
      <img
        src="/assets/3000w-apartment-solar/inside_6.jpg"
        style="max-height: 470px !important; padding: 5px"
      />
      <img
        src="/assets/3000w-apartment-solar/phone-1.png"
        style="max-height: 470px !important; padding: 5px"
      />
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>The Secret Sauce</h2>
      <p>
        The secret sauce is that the sunbox is usually off-grid and
        <i>never pushes power back</i> into the grid. The only reason it's
        connected to the wall at all is that if it runs out of power it can
        <i>pull</i> energy from the wall. The sunbox (and its satellite on the
        roof - the solar panels) are acting as a "solar buffer" between your
        devices and the wall. It's not wired into the meter, doesn't require a
        permit, etc.
      </p>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img src="/assets/3000w-apartment-solar/inside_3.jpg" /><br />
      Wall plug for pass-through UPS mode & cables through window-gap to solar
      panels
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 p-2 p-md-5">
      <h2>The Downside</h2>
      <p>
        The potential downside is that you need to run your own "alternate
        electricity system" through the house (ie. long white extension cables)
        to each room, as you're side-stepping the house's built-in wiring in the
        walls and using your own that you can redirect to the sunbox.
      </p>
    </div>
    <div class="col-md-6 center p-0 p-md-5 order-md-2">
      <img
        src="/assets/3000w-apartment-solar/inside_4.jpg"
        style="max-width: 400px !important; padding: 10px"
      /><br />
      Main 2,500W power distribution strip. Relatively neat wiring from the box
      to the fridge, induction cooktop and on to the living room.
    </div>
  </div>
</div>

<div class="container pt-5">
  <h2>Components & Cost - $832 total</h2>

  <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
    <div
      style="
        width: 350px;
        border: 1px solid lightgrey;
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
      "
    >
      <a href="https://www.facebook.com/marketplace/item/862769312175401">
        <img
          src="/assets/3000w-apartment-solar/second_hand_panels.jpg"
          style="margin-bottom: 120px"
        />
      </a>
      <p>
        <b>$200</b> for
        <a
          href="https://www.facebook.com/marketplace/item/862769312175401"
          target="_blank"
          >1.2kW solar (used)</a
        >
        - 4 x 320W
        <a href="https://www.youtube.com/watch?v=7JCVlUvUJ60" target="_blank"
          >Sunpower T5s</a
        >
        @ $50 - though if there's no used panels near you then
        <a
          href="https://signaturesolar.com/solarever-455w-split-cell-mono-perc-solar-panel-silver/"
          target="_blank"
          >new ones</a
        >
        4 x 455W = $746 is great too
      </p>
    </div>
    <div
      style="
        width: 350px;
        border: 1px solid lightgrey;
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
      "
    >
      <a href="https://amzn.to/4nYppZm">
        <img
          src="https://powmr.com/cdn/shop/files/all-in-one-inverter-charger-of-3000watt-110vac-24vdc-1.jpg?v=1684406432&width=300"
          style="width: 300px"
        />
      </a>

      <p>
        <s>$494</s><b>$259</b> for
        <a href="https://amzn.to/4093nJn" target="_blank"
          >3kW inverter/controller/UPS all-in-one</a
        >
        - 3kW pure sine wave inverter, 4kW MPPT solar charge controller, UPS
        function - falls back to grid when battery empty (note: substituted for a new, more affordable model).
      </p>
    </div>
    <div
      style="
        width: 350px;
        border: 1px solid lightgrey;
        padding: 20px;
        border-radius: 5px;
        margin: 10px;
      "
    >
      <a href="https://amzn.to/48bpx31">
        <img
          src="https://m.media-amazon.com/images/I/71r4VVhRz2L.jpg"
          style="width: 300px; margin: 0 auto"
        />
      </a>
      <p>
        <s>$418</s><b>$259</b> for
        <a href="https://amzn.to/3OeSjrA" target="_blank"
          >2.5kWh LiFePo4 battery</a
        >
      </p>
    </div>
  </div>
</div>

<section class="section">
  <div
    class="container"
    style="max-width: 1000px; margin: auto; padding-bottom: 100px"
  >
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>

<section class="section container text-center">
  <h2>Want some help?</h2>
  <p class="lead">Set up a call with us and we can plan your system!</p>
  <a class="btn btn-primary" href="mailto:hello@sunboxlabs.com">Email Us</a>
</section>

<style>
  .benefit {
    list-style-type: '✅';
    padding-inline-start: 1ch;
  }
</style>
