---
layout: base
---

<section class="section">
  <div
    style="
      max-width: 1000px;
      margin: auto;
      padding-top: 100px;
      text-align: center;
    "
  >
    <h1>Run your home on stored sunshine</h1>
    <p style="font-size: 1.5rem">
      Get the parts off Amazon & get off-grid backup anywhere with this solar
      battery kit.
    </p>
  </div>
</section>

<div class="row">
  <img class="col-sm p-0" src="/assets/3000w-apartment-solar/solar-kit-9.jpg" />
  <img
    class="col-sm p-0"
    src="/assets/3000w-apartment-solar/solar-kit-10.jpg"
  />
</div>

<p style="text-align: center">
  Left: 1.2kW of solar panels removably placed on the apartment's roof | Right:
  "The Sunbox" - a 2.5kWh battery & 3kW controller/inverter powering the
  apartment from the living room
</p>

<section class="section">
  <div
    class="container"
    style="max-width: 1000px; margin: auto; padding-bottom: 100px"
  >
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>
