<!-- Begin Footer
================================================== -->
<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container">
    <div class="row mb-2">
      <div class="col-11 offset-1 col-md-4 offset-md-8">
        <h3 class="mt-4 text-light text-right">Get Updates</h3>
        <p class="text-light text-right">Sign up for our list and hear about updates to the kits!</p>
        <div class="row">
          <div class="col-12 col-md-6"></div>
          <form class="form-group form-inline row" id="electrade-form-footer">
            <input type="email" required name="email" placeholder="you@email.com" class="form-control col"
              style="border-radius: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px;" />
            <input class="btn btn-block btn-primary form-control col"
              style="border-radius: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px;" type="submit"
              value="✉️ Get Updates" id="submit-form" />
          </form>
        </div>

        <div id="WIP-footer" style="display: none">
          <p class="text-light text-right">Submitting...</p>
        </div>

        <div id="thanks-footer" style="display: none">
          <h3 class="text-light text-right">Thank you!</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6  text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/">Home</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/about">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/quiz">Take the Quiz</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/contact">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/shipping">Shipping</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/returns-and-warranty">Refunds, Returns & Warranty</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; sunboxlabs 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="https://www.producthunt.com/posts/sunboxlabs-2?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-sunboxlabs-2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=276691&theme=dark" alt="sunboxlabs - Plug n play solar kits for backup, outdoors or offgrid. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
          </li>
          <li class="list-inline-item mr-3">
            <a style="text-decoration: none" href="https://www.youtube.com/channel/UCL5yFK1-qRkxl-lCcAn5-ow">
              <!-- Youtube -->
              <i class="gg-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a style="text-decoration: none" href="https://www.facebook.com/sunboxlabs/">
              <!-- Facebook -->
              <i class="gg-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a style="text-decoration: none" href="https://twitter.com/sunboxlabs">
              <!-- Twitter -->
              <i class="gg-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <!-- Instagram -->
            <a style="text-decoration: none" href="https://www.instagram.com/sunboxlabs/">
              <i class="gg-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- JavaScript Bundle with Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9NC1ZDYBQM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-9NC1ZDYBQM');
</script>


<script>

  // SUBMIT EMAIL TO GSHEET
  var $formElementFoot = document.getElementById('electrade-form-footer')
  var $WIPFoot = document.getElementById('WIP-footer')
  var $thanksFoot = document.getElementById('thanks-footer')
  var url = 'https://script.google.com/macros/s/AKfycbwRbZS37yjD4W-qV8f8nFxlVFcuS-D3eBjEQomLZHA6TkXkoMg/exec'
  $formElementFoot.addEventListener('submit', function (event) {
    event.preventDefault();
    $formElementFoot.style.display = 'none'
    $WIPFoot.style.display = 'block'
    fetch(url + '?email=' + $formElementFoot.elements[0].value.replace('@', '%40')).then((response) => {
      if (response.ok) {
        $WIPFoot.style.display = 'none'
        $thanksFoot.style.display = 'block'
        return response.json();
      }
      return Promise.reject(response);
    }).then((data) => {
      console.log(data);
    }).catch((error) => {
      console.warn(error);
    });
  });



  // to load images async
  document.addEventListener("DOMContentLoaded", function () {
    var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

    if ("IntersectionObserver" in window) {
      let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.classList.remove("lazy");
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function (lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    } else {
      // Possibly fall back to a more compatible method here
    }
  });
</script>




</body>

</html>