<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
          <div id="col-12">
              <a class="btn btn-primary btn-sm" style="color: white; background-color: rgb(29, 161, 242); border: none" href="https://twitter.com/intent/follow?screen_name=sunboxlabs&amp;tw_p=followbutton">
                Follow <b>@sunboxlabs</b> on Twitter
              </a>
          </div>
        </div>
        <div class="row">
          <div id="col-12">
              <br/><br/>
              <a href="/">
                Home
              </a>
              |
              <a href="/contact">
                Contact
              </a>
              |
              <a href="/about">
                About
              </a>
              |
              <a href="/solar-kit">
                The Kit
              </a>
              <br/><br/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <p>
                &copy; Copyright {{ .Site.Copyright }}
              </p>
          </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
