<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="./sarah_spinning_sun.png">
	<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
	{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="{{ "/css/medium.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/additional.css" | urlize | relURL }}" rel="stylesheet">


	<!--  Essential META Tags -->
  <meta property="og:title" content="{{ .Params.title }} | Sunboxlabs - The best DIY solar + storage kits for apartment, balcony, condos or back garden.">
  <meta property="og:description" content="Find the best off-grid solar + battery kits for all your RV and camping needs. | {{ .Summary | plainify | safeHTML }}">

  {{ if .Params.image -}}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
  {{ else }}
    <meta property="og:image" content="https://sunboxlabs.com/solar-kit/img/banner.jpg">
  {{- end }}

  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:site_name" content="{{ .Params.title }} | Electrade">
  <meta name="twitter:image:alt" content="Better, Cheaper Tesla & Electric Vehicle Insurance">

</head>
