<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://sunboxlabs.com/sarah_spinning_sun.png">

	<title>{{ .Params.title }} | Sunboxlabs - Premium Solar Battery Kits for Backup, Outdoors or Offgrid. </title>

	<meta name="description" content="Sunboxlabs - Premium Solar Battery Kits for Backup, Outdoors or Offgrid. ">
	{{ with .Site.Params.meta.keywords }}
	<meta name="keywords" content="{{ . }}">{{ end }}

	<!--  Essential META Tags -->
	{{ if .Params.title -}}
	<meta property="og:title"
		content="{{ .Params.title }} | Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $449 w/ Free Shipping.">
	{{ else }}
	<meta property="og:title"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $449 w/ Free Shipping.">
	{{- end }}

	<meta property="og:description"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $449 w/ Free Shipping. | {{ .Summary | plainify | safeHTML }}">

	{{ if .Params.image -}}
	<meta property="og:image" content="{{ .Params.image | absURL }}">
	{{ else }}
	<meta property="og:image" content="https://sunboxlabs.com/kit/img_5/header0.jpg">
	{{- end }}

	<meta property="og:url" content="{{ .Permalink }}">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->
	<meta property="og:site_name" content="{{ .Params.title }} | sunboxlabs">
	<meta name="twitter:image:alt"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $449 w/ Free Shipping.">


	{{ partial "_shared/site-schema" . }}

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			addCouponFromUrl()
		});

		function addCouponFromUrl() {
			// if there's already an affiliated code from the website, use that and don't overwrite.
			if (localStorage.getItem('affcode') !== null) {
				let affCode = localStorage.getItem('affcode')
				document.getElementById('finalCode').value = affCode
				return
			}
			// if there's a code in the url, set it in localstorage.
			if (window.location.search !== "") {
				let affCode = window.location.search.replace('?', '')
				localStorage.setItem('affcode', affCode)
				document.getElementById('finalCode').value = affCode
			}
		}
	</script>


	<link media="screen" href="/css/bootstrap5.min.css" rel="stylesheet" type="text/css">
	<link media="screen" href="/css/styles.css" rel="stylesheet" type="text/css">


</head>