<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://sunboxlabs.com/sarah_spinning_sun.png">

	<title>{{ .Params.title }} | Sunboxlabs - Premium Solar Generator Kits for Backup, Outdoors or Offgrid. </title>

	<meta name="description" content="Sunboxlabs - Premium Solar Lithium Kits for Backup, Outdoors or Offgrid. ">
	{{ with .Site.Params.meta.keywords }}
	<meta name="keywords" content="{{ . }}">{{ end }}

	<!--  Essential META Tags -->
	{{ if .Params.title -}}
	<meta property="og:title"
		content="{{ .Params.title }} | Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $399 w/ Free Shipping.">
	{{ else }}
	<meta property="og:title"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $399 w/ Free Shipping.">
	{{- end }}

	<meta property="og:description"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $399 w/ Free Shipping. | {{ .Summary | plainify | safeHTML }}">

	{{ if .Params.image -}}
	<meta property="og:image" content="{{ .Params.image | absURL }}">
	{{ else }}
	<meta property="og:image" content="https://sunboxlabs.com/kit/img/header.jpg">
	{{- end }}

	<meta property="og:url" content="{{ .Permalink }}">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->
	<meta property="og:site_name" content="{{ .Params.title }} | sunboxlabs">
	<meta name="twitter:image:alt"
		content="Sunboxlabs - Portable Solar Generator Kits for Backup, Off-Grid or Fun. From $399 w/ Free Shipping.">


	{{ partial "_shared/site-schema" . }}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9NC1ZDYBQM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-9NC1ZDYBQM');
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

	<link media="screen" href="/css/styles.css" rel="stylesheet" type="text/css">
	<link media="screen" href="/css/additional.css" rel="stylesheet" type="text/css">

</head>