<!-- Begin Menu Navigation
================================================== -->

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/sarah_spinning_sun.gif" width="30" height="30" class="d-inline-block align-top" alt="">
          &nbsp;sunboxlabs
        </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link" href="/">Battery</a>
            <a class="nav-item nav-link" href="/solar-kit">Battery</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <!-- <a class="nav-item nav-link" href="/quiz">Take the Quiz</a> -->
            <a class="nav-item nav-link" href="/blog">Blog</a>
            <a class="nav-item nav-link" href="/faq">FAQ</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <span class="nav-item nav-link d-none d-md-inline" href="">&nbsp;</span>
            <form class="form-group form-inline row" id="electrade-nav" style="margin-bottom: 0px">
              <input type="email" required name="email" placeholder="you@email.com" class="form-control col"
                style="border-radius: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px;" />
              <input class="btn btn-block btn-primary form-control col"
                style="border-radius: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px;" type="submit"
                value="Subscribe" id="submit-form" />
            </form>
            <div id="WIP-nav" style="display: none">
              <p class="text-dark text-right">Submitting...</p>
            </div>

            <div id="thanks-nav" style="display: none">
              <h3 class="text-dark text-right">Thank you!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <br /><br /><br />


  <script>

    // SUBMIT EMAIL TO GSHEET
    var $formElementNav = document.getElementById('electrade-nav')
    var $WIPNav = document.getElementById('WIP-nav')
    var $thanksNav = document.getElementById('thanks-nav')
    var url = 'https://script.google.com/macros/s/AKfycbwRbZS37yjD4W-qV8f8nFxlVFcuS-D3eBjEQomLZHA6TkXkoMg/exec'
    $formElementNav.addEventListener('submit', function (event) {
      event.preventDefault();
      $formElementNav.style.display = 'none'
      $WIPNav.style.display = 'block'
      fetch(url + '?email=' + $formElementNav.elements[0].value.replace('@', '%40')).then((response) => {
        if (response.ok) {
          $WIPNav.style.display = 'none'
          $thanksNav.style.display = 'block'
          return response.json();
        }
        return Promise.reject(response);
      }).then((data) => {
        console.log(data);
      }).catch((error) => {
        console.warn(error);
      });
    });

  </script>


  <!-- End Navigation
================================================== -->