<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "Sunboxlabs 300W Solar Generator Kit",
    "image": [
    "https://sunboxlabs.com/img_3/300 copy 2.jpg"
     ],
    "description": "Sunboxlabs offers mail-order, self-install solar generator kits – plug & play clean energy starting at $249. Powerful batteries & big solar panels are integrated and shipped with everything you need to easily self-install them in your apartment, back yard, RV or pretty much anywhere. Customers mainly use them for clean backup power after a power outage. We even assist you with a 1-on-1 video installation, and ship everything you need down to the Zip-Ties.",
    "sku": "sb-1",
    "mpn": "901343",
    "brand": {
      "@type": "Brand",
      "name": "Sunboxlabs"
    },
    "review": {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5",
        "bestRating": "5"
      },
      "author": {
        "@type": "Person",
        "name": "Niko Dunk"
      }
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.7",
      "reviewCount": "4"
    },
    "offers": {
      "@type": "Offer",
      "url": "https://sunboxlabs.com/solar-kit-300",
      "priceCurrency": "USD",
      "price": "399.00",
      "priceValidUntil": "2020-12-31",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "sunboxlabs"
      }
    }
  }
</script>